<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Обзорная экскурсия по рекам и каналам</title>
        <meta name="description" content="nevatrip — лучшие водные экскурсии по Петербургу">
		<link rel="stylesheet" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="flexmenu/flexmenu.min.js"></script>
	</head>
	<body>
        <div class="excursion">
            <div class="container">
                <div class="excursion-item">
                    <div class="excursion-photo">
                        <img class="excursion-photo-small" src="img/image1-small.jpg" alt="image">
                        <img class="excursion-photo-middle" src="img/image1-middle1.jpg" alt="image">
                        <img class="excursion-photo-big" src="img/image1-big.jpg" alt="image">
                        <span class="excursion-photo-label excursion-photo-label--blue">НОВИНКА</span>
                    </div>
                    <div class="excursion-body">
                        <div class="excursion-duration excursion-duration--small">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div>
                        <a class="excursion-title" href="#">Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2020</a>
                        <div class="excursion-duration excursion-duration--big">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div>
                        <div class="excursion-list">
                            <ul class="excursion-list-item">
                                <li>Билет на целый день</li>
                                <li>Неограниченное число катаний</li>
                                <li>6 остановок у главных достопримечательностей</li>
                                <li>
                                    <span class="nearest-voyage">Ближайший рейс сегодня</span>
                                    <ul class="ul-nearest-voyage-inner">
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li>                             
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="price-container price-container--without-sub">
                            <span class="price">
                                900
                                <svg height="21" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z" fill="#000000"></path></svg>
                                    
                                <small class="bottom-price">
                                    1200 
                                    <span>р</span>
                                    <img src="img/icons/ruble-currency-sign.png" alt="rubles">                            
                                    на причале
                                </small>
                            </span>
                            <a class="btn" href="#" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="excursion-item">
                    <div class="excursion-photo">
                        <img class="excursion-photo-small" src="img/image2-small.jpg" alt="image">
                        <img class="excursion-photo-middle" src="img/image2-middle.jpg" alt="image">
                        <img class="excursion-photo-big" src="img/image2-big.jpg" alt="image">
                        <span class="excursion-photo-label excursion-photo-label--yellow">НОВИНКА</span>
                    </div>
                    <div class="excursion-body">
                        <div class="excursion-duration excursion-duration--small">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div>
                        <a class="excursion-title" href="#">Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2020</a>
                        <div class="excursion-duration excursion-duration--big">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div>                     
                        <div class="excursion-list">
                            <ul class="excursion-list-item">
                                <li>Билет на целый день</li>
                                <li>Неограниченное число катаний</li>
                                <li>6 остановок у главных достопримечательностей</li>
                                <li>
                                    <span class="nearest-voyage">Ближайший рейс сегодня</span>
                                    <ul class="ul-nearest-voyage-inner">
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li>                             
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li>                                   
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="price-container price-container--without-sub">
                            <span class="price">
                                900
                                <svg height="21" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z" fill="#000000"></path></svg>
                                    
                                <small class="bottom-price">
                                    1200 
                                    <span>р</span>
                                    <img src="img/icons/ruble-currency-sign.png" alt="rubles">                            
                                    на причале
                                </small>
                            </span>
                            <a class="btn" href="#" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="excursion-item">
                    <div class="excursion-photo">
                        <img class="excursion-photo-small" src="img/image3-small.jpg" alt="image">
                        <img class="excursion-photo-middle" src="img/image3-middle.jpg" alt="image">
                        <img class="excursion-photo-big" src="img/image3-big.jpg" alt="image">
                    </div>
                    <div class="excursion-body">
                        <div class="excursion-duration excursion-duration--small">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div>
                        <a class="excursion-title" href="#">Обзорная экскурсия по рекам и каналам  с остановками Hop on Hop Off 2020</a>
                        <div class="excursion-duration excursion-duration--big">
                            <img src="img/icons/clock-circular-outline.png" alt="clock">
                            <span>2 часа</span>    
                        </div> 
                        <div class="excursion-list">
                            <ul class="excursion-list-item">
                                <li>Билет на целый день</li>
                                <li>Неограниченное число катаний</li>
                                <li>6 остановок у главных достопримечательностей</li>
                                <li>
                                    <span class="nearest-voyage">Ближайший рейс сегодня</span>
                                    <ul class="ul-nearest-voyage-inner">
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li>                             
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li> 
                                        <li><a href="#" class="nearest-voyage-time">12:00</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="price-container price-container--without-sub">
                            <span class="price">
                                900
                                <svg height="21" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.715 0H4.332C3.57 0 2.953.644 2.953 1.44v10.892H1.38C.617 12.332 0 12.976 0 13.77c0 .794.617 1.439 1.379 1.439h1.574v3.287H1.38c-.762 0-1.379.645-1.379 1.44 0 .794.617 1.439 1.379 1.439h1.574v3.185c0 .795.617 1.439 1.379 1.439.761 0 1.378-.644 1.378-1.44v-3.184h6.005c.761 0 1.379-.645 1.379-1.44 0-.794-.618-1.439-1.38-1.439H5.71V15.21h6.005c4.017 0 7.285-3.412 7.285-7.605C19 3.308 15.647 0 11.715 0zm0 12.332H5.71V2.878h6.005c2.482 0 4.528 2.09 4.528 4.727 0 2.606-2.031 4.727-4.528 4.727z" fill="#000000"></path></svg>
                                    
                                <small class="bottom-price">
                                    1200 
                                    <span>р</span>
                                    <img src="img/icons/ruble-currency-sign.png" alt="rubles">                            
                                    на причале
                                </small>
                            </span>
                            <a class="btn" href="#" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="app.js"></script>

	</body>
</html>